.card{
    display: flex;
    flex-direction: column;
    max-width: 18.75em;
    margin: 1rem 0rem;
    &__img{
        max-width: 18.75em;
        max-height: 9.375em;
        width: 100%;
        object-fit:cover;
        border-radius: 0.5em;
    }
    &__h5{
        font-weight: $weight-h5;
        font-size: $size-16;
    }
    &__h3{
        font-weight: $weight-h3;
        font-size: $size-20;
        padding: 0.5em 0em;
    }
    &__footer{
        display: inline-flex;
        align-items: center;
        .footer__img{
            height: $desafio-logo;
            width: auto;
            border-radius: 50%;
        }
        .footer__h5{
            font-weight: $weight-h5;
            font-size: $size-16;
            margin-left: 0.5em;
        }
    }


}